# .gitignore for a TypeScript-based NodeJS module
#
# This does not rely on a given template, but will be completed "as we go".

# don't track the internal stamp directory of make
# (see Makefile -> MAKE_STAMP_DIR)
.make-stamps

# don't track NodeJS module directory
node_modules

# don't track coverage information
# (see .jestrc.ci.json)
**/.coverage
